@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #edf0f7;

  --primary: #0f52ba;
  --primary-light: #0f52ba;
  --button: #0f52ba;

  --white: #ffffff;
  --white-light: #ffffff;
  --white-dark: #eeeeee;

  --black: #373737;
  --black-light: #444f76;
  --black-dark: #272d44;

  --blue: #0565d0;
  --blue-light: #247add;
  --blue-dark: #00499d;

  --red: #e52e4d;
  --red-light: #fa4866;
  --red-dark: #c9233f;

  --green: #33cc95;
  --green-light: #33cc95;
  --green-dark: #29a477;

  --yellow: #ccc133;
  --yellow-light: #ccc133;
  --yellow-dark: #ccc133;

  --text: #252525;
  --text-light: #ffffff;
  --text-dark: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
